[Unit]
Description=Partystation Party Game Platform
After=network.target

[Service]
ExecStart=/root/partystation/binary
WorkingDirectory=/root/partystation
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
